[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dracor"]
	path = dracor
	url = https://github.com/natverse/dracor
[submodule "nat"]
	path = nat
	url = https://github.com/natverse/nat
[submodule "nat.nblast"]
	path = nat.nblast
	url = https://github.com/natverse/nat.nblast
[submodule "nat.templatebrains"]
	path = nat.templatebrains
	url = https://github.com/natverse/nat.templatebrains
[submodule "nat.utils"]
	path = nat.utils
	url = https://github.com/natverse/nat.utils
[submodule "natcpp"]
	path = natcpp
	url = https://github.com/natverse/natcpp
[submodule "natmanager"]
	path = natmanager
	url = https://github.com/natverse/natmanager
